<html>
    <head>
      {% if title %}
      <title>{{ title }} - Submit</title>
      {% else %}
      <title>Welkom bij Submit</title>
      {% endif %}
    </head>
    <body>
      <div>
          Submit:
          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
      </div>
      <hr>
      {% block content %}{% endblock %}

    </body>
</html>
