<!doctype html>
<html>
{% block head %}
    <head>
      {% if title %}
      <title>{{ title }} - Submit</title>
      {% else %}
      <title>Welkom bij Submit</title>
      {% endif %}
    </head>
{% endblock %}

{% block body %}
    <body>

     <div>
          Hoi, {{ current_user.username }}!
          Submit:
          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
      </div>

      <hr>

      <div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>


      {% block content %}{% endblock %}
      <hr>
      <p>
      Submit <a href="https://www.github.com/tomkooij/submit">source code on GitHub</a>
    </body>
{% endblock %}

</html>
