{% extends "base.html" %}

{% block content %}

    {% include '_submit.html' %}
    ---
    <h3>Queue</h3>
    {% for sub in queued_submissions %}
    <div><p>id: <a href="/sub/{{sub.id}}">{{ sub.id }}</a>
      cat: {{ sub.category }} fn: {{ sub.submission_filename }} comment: {{ sub.comment|string }} timestamp: {{sub.timestamp}}</p></div>
    {% endfor %}
    ---
    <h3>Results</h3>
    {% for result in results %}
      <div><p>{{ result.category }} {{ result.score }} {{result.timestamp}}</p></div>
    {% endfor %}
{% endblock %}
