{% extends "base.html" %}

{% block content %}
    <h1>Submit</h1>
    Lever hier je opdracht in... blabla:

    {% include '_submit.html' %}
    ---
    <h3>Resultaten:</h3>
    {% for result in results %}
        {%include '_result.html' %}
    {% endfor %}
    ---
    <h3>Wachtrij:</h3>
    {% if queued_submissions %}
      De volgende ingeleverde bestanden wachten op beoordeling:
      {% for submission in queued_submissions %}
        {%include '_submission.html' %}
        {% endfor %}
    {% else %}
      De wachtrij is leeg!
    {% endif %}
{% endblock %}
