{% extends "base.html" %}

{% block content %}
    <h3>Hoi, {{ current_user.username }}!</h3>
    {% include '_submit.html' %}
    ---
    <h3>Queue</h3>
    {% for sub in queued_submissions %}
    <div><p>{{ sub.submission_filename }} {{ sub.comment|string }} {{sub.timestamp}}</p></div>
    {% endfor %}
    ---
    <h3>Results</h3>
    {% for sub in graded_submissions %}
    <div><p>{{ sub.submission_filename }} {{ sub.comment|string }} {{sub.timestamp}}</p></div>
    {% endfor %}
{% endblock %}
